.DateLine{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:var(--shale)}.DateLine i{font-size:var(--icon-md);line-height:initial;margin-right:5px}.DateLine i>.fa-right:before{margin-right:0}

